@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@90.6,500&family=Macondo&family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
