.cabecalho-cart {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Press Start 2P';
    padding: 30px;
    text-align: center;
    font-size: 14px;
    text-shadow: 4px 4px 4px rgb(121, 105, 71);
}

.container-detalhes-cart {
    background-color: rgb(126, 87, 35);
    border: rgb(73, 49, 4);
    box-shadow: rgba(73, 49, 4, 0.7);
    border-radius: 12px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}

.detalhes-info-cart {
    text-align: center;
}


.detalhes-img-cart {
    width: 180px;
    height: 180px;
    object-fit: cover;

    border-radius: 10px;
    border: 2px solid #2a1807;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}


.detalhes-nome-cart {
    font-size: 22px;
    margin-bottom: 8px;
    text-shadow: 3px 3px rgb(70, 45, 14);
}

.detalhes-preco-cart {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Macondo';
    color: #ffe8a3;
    font-size: 20px;
}

.detalhes-descricao-cart {
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.container-detalhes-main-cart {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: white;
    font-family: 'Macondo';
}

/* Botões do carrinho */
.btn-continuar-cart,
.btn-voltar-cart {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
    
}
.btn-detalhes-cart {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
    
}


/* Controle de quantidade */
.controle-quantidade {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-quantidade-aumentar,
.btn-quantidade-diminuir {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    color: white;
    border: none;
    font-size: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-shadow: 2px 4px rgba(73, 49, 4, 0.6);
}

.quantidade {
    font-size: 18px;
    min-width: 20px;
    text-align: center;
}


/* Botão geral do carrinho */

.cart-footer {
    margin-top: 30px;
    text-align: center;
}

.btn-continuar-cart {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    color: white;
    font-size: 22px;
    padding: 8px 20px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    cursor: pointer;
}

.icone-moeda-cart{
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 1px;
}

@media(min-width: 375px) and (max-width: 767px) {
    .container-detalhes-cart {
        flex-direction: row; 
        justify-content: center;
        gap: 40px;
        padding: 30px;
    }

    .detalhes-info-cart {
        max-width: 400px;
        text-align: center;
    }

    .detalhes-img-cart {
        width: 180px;
        height: 220px;
    }
}


@media(min-width: 768px) {
    .container-detalhes-cart {
        flex-direction: row; 
        justify-content: center;
        gap: 40px;
        padding: 30px;
    }

    .detalhes-info-cart {
        max-width: 400px;
        text-align: center;
    }
}
    

@media(min-width: 1024px) {

    .container-detalhes-main-cart {
        max-width: 400px;
        margin-top: 40px;
    }

    .container-detalhes-cart {
        flex-direction: row; 
        justify-content: center;
        gap: 40px;
        padding: 30px;
    }

    .detalhes-img-cart {
        width: 260px;
        height: 260px;
    }

    .detalhes-info-cart {
        max-width: 400px;
        text-align: center;
    }

    .detalhes-nome-cart {
        font-size: 28px;
    }

    .detalhes-preco-cart {
        font-size: 22px;
        color: #ffe8a3;
    }

    .detalhes-descricao-cart {
        font-size: 18px;
    }

    .controle-quantidade {
        text-align: right;
    }

    .icone-moeda-cart {
     width: 25px;
    }
}