.container-form {
   display: flex;
   justify-content: left;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   
}

.cabecalho-form{
    display: flex;
    flex-flow: column wrap;
    margin-top: 300px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 4px 4px 4px rgb(121, 105, 71);
}

.login-form {
    display: flex; 
    align-items: center;
    flex-direction: column;
    flex-grow: 0.9;
    justify-content: center;
    margin-bottom: 180px;
    gap: 8px;
}

.label{
    display: flex;
    font-size: 22px;
    font-family: 'Macondo';
    gap: 5px;
    color: rgb(51, 48, 48);
    text-shadow: 1px 4px 4px rgb(122, 91, 23);
    
}


.input-nome {
   border-radius: 30px;
   box-shadow: 5px 3px rgba(73, 49, 4, 0.541);
    
}

.input-nome:hover {
    border: 4px solid #000;
}

.input-senha {
   border-radius: 30px;
   box-shadow: 5px 3px rgba(73, 49, 4, 0.541);
}

.input-senha:hover {
    border: 4px solid #000;
}

.input-ouro {
    border-radius: 30px;
    padding: 2px;
    box-shadow: 5px 3px rgba(73, 49, 4, 0.541);
 }

 .input-ouro:hover {
     border: 4px solid #000;
 }


.btn-produtos:hover {
    border: 2px solid #8b6104d3;
}

.btn-login {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
}

.btn-login:hover{
     border: 2px solid #8b6104d3;

}

@media (min-width: 1024px) {
    .label {
        font-size: 20px;
        padding: 4px;
    }
    .btn-login {
        padding: 2px;
    }

    .input-nome {
        padding: 2px;
    }

    .input-senha {
        padding: 2px;
    }
    .login-form {
        flex-grow: 0.3;
    }
}