@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@90.6,500&family=Macondo&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body { 
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

/* Pagina principal */
.cabecalho {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Press Start 2P';
    padding: 30px;
    text-align: center;
    font-size: 14px;
    text-shadow: 4px 4px 4px rgb(121, 105, 71);
}

/* botões da página principal */
.btn-login-cabecalho{
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    /* border-radius: 50px 20px; */
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
    
}

.catalogo {
    text-align: center;
    color: white;
    font-family: 'Inconsolata'; 
    padding: 20px;
}

.lista-itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 3vw;
    gap: 25px;
}

.catalogo-h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Press Start 2P';
    padding: 30px;
    text-align: center;
    font-size: 26px;  
    text-shadow: 4px 4px 4px rgb(121, 105, 71);
}

.produtos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 81%;
    max-width: 250px;
    padding: 30px;
    background-color: rgb(126, 87, 35);
    border-radius: 15%;
    font-family: 'Inconsolata';
    color: white;
    /* css scan */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
                rgba(0, 0, 0, 0.06) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px,
                rgba(0, 0, 0, 0.09) 0px 16px 8px,
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.produtos-img {
    width: 100%;
    border-radius: 10px;
}

.produtos h3 {
    text-align: center;
}

.produtos p {
    text-align: center;
    font-family: 'Macondo';
}


@media (min-width: 768px) {

    .cabecalho {
        font-size: 18px;
    }

    .produtos {
        max-width: 220px;
    }
}

@media (min-width: 1024px) {
    .cabecalho {
        font-size: 22px;
    }

    .produtos {
        max-width: 260px;
    }
}

/* Página de login */

.container-form {
   display: flex;
   justify-content: left;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   
}

.cabecalho-form{
    display: flex;
    flex-flow: column wrap;
    margin-top: 300px;
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 4px 4px 4px rgb(121, 105, 71);
}

.login-form {
    display: flex; 
    align-items: center;
    flex-direction: column;
    flex-grow: 0.9;
    justify-content: center;
    margin-bottom: 180px;
    gap: 8px;
}

.label{
    display: flex;
    font-size: 22px;
    font-family: 'Macondo';
    gap: 5px;
    color: rgb(51, 48, 48);
    text-shadow: 1px 4px 4px rgb(122, 91, 23);
    
}


.input-nome {
   border-radius: 30px;
   box-shadow: 5px 3px rgba(73, 49, 4, 0.541);
    
}

.input-senha {
   border-radius: 30px;
   box-shadow: 5px 3px rgba(73, 49, 4, 0.541);
}


.btn-produtos {
     font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
}

.btn-produtos:hover {
    border: 2px solid #8b6104d3;
}

.btn-login {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
}

.btn-login:hover{
     border: 2px solid #8b6104d3;

}

@media (min-width: 1024px) {
    .label {
        font-size: 20px;
        padding: 4px;
    }
    .btn-login {
        padding: 2px;
    }

    .input-nome {
        padding: 2px;
    }

    .input-senha {
        padding: 2px;
    }
    .login-form {
        flex-grow: 0.3;
    }
}


.cabecalho-thanks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 18px;
    font-family: 'Inconsolata';
    text-shadow: 1px 4px 4px rgb(122, 91, 23);

}

.thanks-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   padding: 10px;
}

/* Pagina de detalhes */
.container-detalhes {
    max-width: 90%;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: white;
    font-family: 'Macondo';
}


.detalhes-titulo {
    font-family: 'Press Start 2P';
    font-size: 20px;
    margin-bottom: 25px;
    text-shadow: 3px 3px 3px rgb(121, 105, 71);
}

.detalhes-card {
    background-color: rgb(126, 87, 35);
    border: rgb(73, 49, 4);
    box-shadow: rgba(73, 49, 4, 0.7);
    border-radius: 12px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}


.detalhes-img {
    width: 180px;
    height: 180px;
    object-fit: cover;

    border-radius: 10px;
    border: 2px solid #2a1807;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}


.detalhes-info {
    text-align: center;
}



.detalhes-nome {
    font-size: 22px;
    margin-bottom: 8px;
    text-shadow: 3px 3px rgb(70, 45, 14);
}


.detalhes-preco {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffe8a3;
}

.detalhes-descricao {
    font-size: 16px;
    margin-bottom: 25px;
}


.detalhes-botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}


.btn-detalhes {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
    
}


.btn-add-carrinho,
.btn-voltar {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
}


@media (min-width: 1024px) {

    .container-detalhes {
        max-width: 1000px;
        margin-top: 40px;
    }

    .detalhes-titulo {
        font-size: 26px;
        margin-bottom: 35px;
    }

    .detalhes-card {
        flex-direction: row; 
        justify-content: center;
        gap: 40px;
        padding: 30px;
    }

    .detalhes-img {
        width: 260px;
        height: 260px;
    }

    .detalhes-info {
        max-width: 400px;
        text-align: left;
    }

    .detalhes-nome {
        font-size: 28px;
    }

    .detalhes-preco {
        font-size: 22px;
    }

    .detalhes-descricao {
        font-size: 18px;
    }

}
