.cabecalho-thanks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 18px;
    font-family: 'Inconsolata';
    text-shadow: 1px 4px 4px rgb(122, 91, 23);

}

.thanks-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   padding: 10px;
}

.thanks-btn-voltar {
    font-family: 'Macondo';
    background-color: rgb(126, 87, 35);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px;
    box-shadow: 5px 10px rgba(73, 49, 4, 0.541);
    color: white;
    text-decoration: none;
}